<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Outstanding Tasks</h2>
        </div><!-- ./panel-heading -->
        <ul class="list-group">
          <% tasks.forEach(function(task) { %>
            <% if(task.completed === false) { %>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-10">
                    <a href="/tasks/<%= task._id %>"><%= task.content %></a>
                  </div>
                  <div class="col-md-2">
                    <div class="task-actions">
                      <form action="/tasks/<%= task._id %>?_method=PUT" method="POST">
                        <input type="hidden" name="task[completed]" value="true">
                        <i class="glyphicon glyphicon-ok task-action-icon task-completed-icon"
                          title="mark as completed"
                          aria-hidden="true">
                        </i>
                      </form>
                      <a href="/tasks/<%= task._id %>/edit">
                        <i class="glyphicon glyphicon-edit task-action-icon task-edit-icon"
                          title="edit task"
                          aria-hidden="true">
                        </i>
                      </a>
                      <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST">
                        <i class="glyphicon glyphicon-remove task-action-icon task-delete-icon"
                          title="delete task"
                          aria-hidden="true">
                        </i>
                      </form>
                    </div><!-- ./task-actions -->
                  </div><!-- ./col -->
                </div><!-- ./row -->
              </li>
            <% } %>
          <% }) %>
        </ul>
      </div><!-- ./panel -->
    </div><!-- ./col -->
    </div><!-- ./row -->

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Completed Tasks</h2>
        </div><!-- ./panel-heading -->
        <ul class="list-group">
          <% tasks.forEach(function(task) { %>
            <% if(task.completed === true) { %>
              <li class="list-group-item disabled">
                <div class="row">
                  <div class="col-md-10">
                    <a href="/tasks/<%= task._id %>"><%= task.content %></a>
                  </div>
                  <div class="col-md-2">
                    <div class="task-actions">
                      <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST">
                        <i class="glyphicon glyphicon-remove task-action-icon task-delete-icon"
                          title="remove task"
                          aria-hidden="true">
                        </i>
                      </form>
                    </div><!-- ./task-actions -->
                  </div><!-- ./col -->
                </div><!-- ./row -->
              </li>
            <% } %>
          <% }) %>
        </ul>
      </div><!-- ./panel -->
    </div><!-- ./col -->
  </div><!-- ./row -->
</div><!-- ./container -->

<% include ../partials/footer %>