<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
  <div class="row">

    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Task Information</h1>
        </div><!-- ./panel-heading -->

        <div class="panel-body">
          <h2><%= task.content %></h2>

          <hr>

          <% if(task.completed) { %>
            <button class="btn btn-success btn-sm" disabled="disabled">
              <i class="glyphicon glyphicon-ok task-action-icon"></i>
              Marked as Completed
            </button>
            <a class="btn btn-warning btn-sm disabled" href="/tasks/<%= task._id %>/edit" role="button">
              <i class="glyphicon glyphicon-edit task-action-icon"></i>
              Edit
            </a>
          <% } else { %>
            <form action="/tasks/<%= task._id %>?_method=PUT" method="POST" class="complete-task-form">
              <input type="hidden" name="task[completed]" value="true">
              <button class="btn btn-default btn-sm" id="taskCompleteButton">
                <i class="glyphicon glyphicon-ok task-action-icon"></i>
                Mark as Completed
              </button>
            </form>
            <a class="btn btn-warning btn-sm" href="/tasks/<%= task._id %>/edit">
              <i class="glyphicon glyphicon-edit task-action-icon"></i>
              Edit
            </a>
          <% } %>

          <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST" class="delete-task-form">
            <button class="btn btn-danger btn-sm" id="taskDeleteButton">
              <i class="glyphicon glyphicon-remove task-action-icon"></i>
              Delete
            </button>
          </form>
        </div><!-- ./panel-body -->

        <div class="panel-footer">
          Task ID: <%= task._id %>
        </div><!-- ./panel-footer -->
      </div><!-- ./panel -->

      <a class="btn btn-default" href="/tasks" role="button">Back to List</a>
    </div><!-- ./col -->
  </div><!-- ./row -->
</div><!-- ./container -->
<% include ../partials/footer %>